<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>filonova.dev</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="/static/css/reset-fonts-grids.css" media="all" />
	<link rel="stylesheet" type="text/css" href="/static/css/resume.css" media="all" />

	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
		(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
		m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
		(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(61178728, "init", {
			clickmap:true,
			trackLinks:true,
			accurateTrackBounce:true,
			webvisor:true
		});
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/61178728" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">

		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Filonova Mary</h1>
					<h2>Team Lead</h2>

{#                    <h3><a id="pdf" href="/static/Filonova_Mary.pdf">Download PDF</a></h3>#}
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3>Mail: <a href="mailto:mary@filonova.dev">mary@filonova.dev</a></h3>
						<h3>GitHub: <a href="https://github.com/Kvm99">GitHub</a></h3>
						<h3>LinkedIn: <a href="https://www.linkedin.com/in/mary-filonova-b70521185/">LinkedIn</a></h3>
						<h3>Facebook: <a href="https://www.facebook.com/FilonovaMary/">Facebook</a></h3>

					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
			<div class="yui-gc">
				<img src="/static/img/arctic-code-contributor.png" valign="middle" width="48" height="50" hspace="7"/>
				<h7>Arctic Code Vault Contributor</h7>
			</div>
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>About me</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								You won't find many years of experience on my resume (yet🙃), but that doesn't mean I'm a lousy candidate. I don't fit into the standard selection box all my life, but when I'm hired, I exceed expectations. It's been like that every time, and I feel like I have to say it.
</p>
							<p class="enlarge">I won't say why I don't fit into the standard filters (but we can discuss this when we meet 🙂). I'd instead tell you what I'm strong in and why you should pay attention to me.
</p>
							<p class="enlarge">
* I achieve my goals and know how to learn:<br>
My first higher education was musical (violin). To move to IT, I spent a lot of time and effort and shed many tears, and now no one believes me that I was not an IT specialist once.
</p>
							<p class="enlarge">
* I am a good leader:<br>
At regular 1:1 meetings with my employees, we exchange feedback, build a development plan and discuss how we can make the workflow better.
<br>If I make a mistake, I tell the team about it, no matter how difficult it is. It helps my subordinates in case of their error to understand that everyone could be wrong and come for help sooner.
<br>I do not close the decision-making to myself - we have a transparent process for making decisions (both technical and non-technical). A responsible person studies the issue, assembles the team, and voices possible solutions to the problem. The team discusses them and chooses the best of the proposed solutions.
</p>
							<p class="enlarge">
* I am a person who can be delegated and trusted:<br>
I handle tasks of any level, from hiring to firing employees, from writing technical specifications to putting products into operation, from choosing a contractor to agreeing on the best conditions for the price.
At my current job, I went from mistrust (in the beginning) to confidence that Mary would do everything perfectly (in less than a year). Our CTO and CEO know that any task assigned to me will be completed.
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<!-- <div class="talent">
									<h2>Python 3</h2>
									<p></p>
								</div> -->

								<div class="talent">
									<h2>Languages</h2>
									<p>English (C1, Advanced)</p>
									<p>Russian (C2, Native)</p>
									<p>Georgian (A1, Elementary)</p>

								</div>

								<div class="talent">
									<h2>Soft skills</h2>
									<p>People Management</p>
									<p>Distributed teams </p>
									<p>Problem-solving</p>
                                    <p>etc.</p>
								</div>

								<div class="talent">
									<h2>References</h2>
									<p>Available on request</p>

								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>Python</li>
								<li>JavaScript</li>
								<li>NodeJS</li>
								<li>Unix</li>

							</ul>

							<ul class="talent">
								<li>Troubleshooting</li>
								<li>Monitoring</li>
								<li>Cloud automation</li>
								<li>Automated testing</li>
							</ul>

							<ul class="talent">
								<li>PostgreSQL, MongoDB</li>
								<li>Kafka, Redis</li>
								<li>Poetry, Pyenv</li>
								<li>etc.</li>
							</ul>

						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">

						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

                             <div class="job">
								<h2><a href="https://unim.su/">IBS DataFort</a></h2>
								<h3>Head of service development department </h3>
								<h4>Jan 2021 - now</h4>
								<p>
                                I built my development department from scratch. I lead the hiring process, shaped and facilitated processes of onboarding and adaptation of new team members.<br>
								I have experience in dismissal of employees.<br>
								Also, I lead Agile activities, such as retro, refinement, and planning.<br>
								In my team we have team building activities, regular 1:1s and feedbacks.<br>
								I facilitate the process of deployment planning, analyze risks and prepare plans to mitigate such.<br>
								Each sprint, I also take 2-3 development tasks.<br>
								Aside from the team tasks, I take a part in the projects of business automatization. We are doing it with our C-level guys, and my part is to facilitate terms of reference creation and their successful implementation by our contractors.<br>
                       			 </p>

							</div>

                            <div class="job">
								<h2><a href="https://unim.su/">UNIM</a></h2>
								<h3>Backend developer </h3>
								<h4>Apr 2020 - Jan 2021</h4>
								<p>Development and support digital pathology platform<br>
                                Work with legacy.<br>
                                Develop with Python, JS and NodeJs.<br>
                                Organize knowledge sessions inside IT department.<br>
                                Mentoring team members.<br>
                                Planning deployment, analyze risks and prepare plans to mitigate such.
                                </p>
							</div>

							<div class="job">
								<h2><a href="https://www.spherical.pm/#hero-section">Spherical.pm</a></h2>
								<h3>Backend developer </h3>
								<h4>Sept 2019 - Apr 2020</h4>
								<p>Developed web application: language school; <br>
								Jira quick reporter - desktop application for Jira processes optimization.</p>
							</div>

							<div class="job">
								<h2><a href="https://techboss.ru/">TechBoss</a></h2>
								<h3>Backend developer</h3>
								<h4>Jun 2018 - Sept  2019 </h4>
								<p>Developed beacon-based in-house navigation system for restaurant.
								<br />Take a part in creation interactive endstation (like in McDonald’s), for easy ordering and purchasing.<br/>
								Worked with report automatization.</p>
							</div>

							<div class="job">
								<h2><a href="https://learn.python.ru/">LearnPython</a></h2>
								<h3> </h3>
								<h4>since 2020</h4>
								<p>Course creator. Also guiding groups of students through the course.</p>
							</div>


						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->

					<div class="yui-gf">

						<div class="yui-u first">
							<h2>Projects</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">
							<div class="job">
								<h2>Ipsly.com</h2>
								<h4>Founder, developer</h4>
								<h3><a href="https://ipsly.com/">ipsly.com</a></h3>
								<p>
                                </p>
							</div>
                            <div class="job">
								<h2>IT club Georgia</h2>
								<h4>Founder</h4>
								<h3><a href="https://it-club.ge/">it-club.ge</a></h3>
								<p>
                                </p>
							</div>
                            <div class="job">
								<h2>Moscow Python</h2>
								<h4>Mentor, course creator</h4>
								<h3><a href="https://learn.python.ru/">learn.python.ru</a></h3>
								<p>
                                </p>
							</div>
							<div class="job">
								<h2>Wemake-python-styleguide</h2>
								<h4>Opensource contributor</h4>
								<h3><a href="https://github.com/wemake-services/wemake-python-styleguide">Github</a></h3>
								<p>
                                </p>
							</div>
                        </div>
					</div>

                    <div class="yui-gf">

						<div class="yui-u first">
							<h2>Education</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">
							<div class="job">
								<h2>Team Lead. OTUS</h2>
								<h3>2021</h3>
								<h3><a href="https://otus.ru/certificate/c992062aa192444088381922f7f7e768/">View certificate</a></h3>
								<p>
                                </p>
							</div>
                            <div class="job">
								<h2>How to manage a remote team. GitLab</h2>
								<h3>2021</h3>
								<h3><a href="https://coursera.org/share/b0a80a38778b1ffd545424e503887470">View certificate</a></h3>
								<p>
                                </p>
							</div>
                            <div class="job">
								<h2>Inspiring and Motivating Individuals Course. University of Michigan</h2>
								<h3>2020</h3>
								<h3><a href="https://coursera.org/share/a126b88cda0be7ec5294f12afe5b9b9e">View certificate</a></h3>
								<p>
                                </p>
							</div>

                        </div>

                        <div class="yui-u">
                            <div class="job">
								<h2>Rybinsk State Aviation Technical University named after P.A. Solovyova</h2>
								<h3>2012-2016</h3>
								<p>
                                </p>
							</div>
                        </div>
                    </div>



				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p> <a href="mailto:mary@filonova.dev">mary@filonova.dev</a> <br>
				Facebook: <a href="https://www.facebook.com/FilonovaMary/">Facebook</a></p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>
