<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>filonova.dev</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="/static/css/reset-fonts-grids.css" media="all" />
	<link rel="stylesheet" type="text/css" href="/static/css/resume.css" media="all" />

	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
		(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
		m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
		(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(61178728, "init", {
			clickmap:true,
			trackLinks:true,
			accurateTrackBounce:true,
			webvisor:true
		});
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/61178728" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">

		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Filonova Maria</h1>
                    <h3><a id="pdf" href="/static/Filonova_Mary.pdf">Download PDF</a></h3>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3>Telegram: <a href="https://t.me/Mary2z">@Mary2z</a></h3>
						<h3>GitHub: <a href="https://github.com/Kvm99">GitHub</a></h3>

					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								Python, JavaScript, Node.js <br>
								Opensource contributor <br>
								Prefer to work remotely. <br>
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<!-- <div class="talent">
									<h2>Python 3</h2>
									<p></p>
								</div> -->

								<div class="talent">
									<h2>English</h2>
									<p>Upper-Intermediate (B2)</p>
								</div>

								<div class="talent">
									<h2>Soft skills</h2>
									<p>leadership,</p>
									<p>time management, adaptability</p>
                                    <p>etc.</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>Python 3</li>
								<li>JavaScript</li>
								<li>NodeJS</li>
								<li>Unix</li>

							</ul>

							<ul class="talent">
								<li>Git</li>
								<li>Flask, Django</li>
								<li>Bottle, Aiohttp</li>
								<li>Pytest, Flake8, debugging</li>
							</ul>

							<ul class="talent">
								<li>SQLAlchemy</li>
								<li>PostgreSQL</li>
								<li>Kafka, Redis</li>
								<li>Poetry, Pyenv, Env</li>

							</ul>

						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">

						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">
                            <div class="job">
								<h2><a href="https://unim.su/">UNIM</a></h2>
								<h3>Backend developer </h3>
								<h4>since April 2020</h4>
								<p>Development and support digital pathology platform<br>
                                Work with legacy<br>
                                Develop with Python, JS and NodeJs<br>
                                Organize knowledge sessions inside IT department<br>
                                Mentoring team members<br>
                                Planning deployment, analyze risks and prepare plans to mitigate such
                                </p>
							</div>

                            <div class="job">
								<h2><a href="https://learn.python.ru/">LearnPython</a></h2>
								<h3> </h3>
								<h4>since September 2020</h4>
								<p>Guide group of students through the course. Lead their project work, help with questions and difficulties during the course</p>
							</div>

							<div class="job">
								<h2><a href="https://www.spherical.pm/#hero-section">Spherical.pm</a></h2>
								<h3>Backend developer </h3>
								<h4>since September 2019</h4>
								<p>Developed web application: language school; <br>
								Jira quick reporter - desktop application for Jira processes optimization</p>
							</div>

							<div class="job">
								<h2><a href="https://techboss.ru/">TechBoss</a></h2>
								<h3>Backend developer</h3>
								<h4>June - September 2019 </h4>
								<p>Developed beacon-based in-house navigation system for restaurant.
								<br />Take a part in creation interactive endstation (like in McDonald’s), for easy ordering and purchasing.<br/>
								Worked with report automatization.</p>
							</div>



						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


                    <div class="yui-gf">

						<div class="yui-u first">
							<h2>Education</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">
                            <div class="job">
								<h2>Inspiring and Motivating Individuals Course. University of Michigan</h2>
								<h3><a href="https://coursera.org/share/a126b88cda0be7ec5294f12afe5b9b9e">View certificate</a></h3>
								<p>
                                </p>
							</div>
                        </div>
                        <div class="yui-u">
                            <div class="job">
								<h2>Rybinsk State Aviation Technical University named after P.A. Solovyova</h2>
								<h3>2012-2016</h3>
								<p>
                                </p>
							</div>
                        </div>
                    </div>



				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p> <a href="mailto:mary@filonova.dev">mary@filonova.dev</a> <br>
				Telegram: <a href="https://t.me/Mary2z">@Mary2z</a></p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>
